body{
    background-color: lightgray;
}


.calculator {
    padding: 10;
    border-radius: 1px;
    height: 380px;
    width: 400px;
    margin: 100px auto;
}

  table {
      margin: 0px auto;
      border-spacing: 0;
  }

  table tr td {
    margin: 0;
    padding: 0;
  }

  .display-box {
    background-color: white;
  }

  input[type="button"] {
      width: 100%;
      padding: 25px 40px;
      background-color: black;
      color: white;
      font-size: 24px;
      font-weight: bold;
      border: none;
      outline: 0;
  } 


 input[class="opt"] {
    background-color: grey;
 }

 input[class="clear"] {
    background-color: rgb(98, 167, 166);
 }

  input[type="text"] {
      padding: 25px 40px;
      font-size: 24px;
      font-weight: bold;
      border: none;
  }

  

